# Why thetadata.net?

ThetaData is a low latency method of accessing historical and real-time stocks and options data. We compress the data we send you to ~1/30th of its actual size. This significantly improves API throughput and performance.

## Check Java Version
Make sure Java 11 or higher is installed. Install it if it isn't. We recommend using openjdk.

In [13]:
!java -version

java version "19.0.1" 2022-10-18
Java(TM) SE Runtime Environment (build 19.0.1+10-21)
Java HotSpot(TM) 64-Bit Server VM (build 19.0.1+10-21, mixed mode, sharing)

## Install the ThetaData package

In [14]:
!pip install thetadata --quiet
!pip install --upgrade thetadata --quiet

## Make your first request (option)
The code below makes a historical request for 1 month of end of day (EOD) data. The ``EOD`` values are calculated using trades for the contract. For instance, the ``HIGH`` for the day would be the highest trade price. ``VOLUME`` is the total amount of contracts traded whereas the ``COUNT`` is the total amount of trades. This data is free to anyone who uses ThetaData.

In [10]:
import pandas as pd
from IPython.display import display
from datetime import date, timedelta
from thetadata import ThetaClient, OptionReqType, OptionRight, DateRange, NoData, ResponseError

# Connects to ThetaData.
client = ThetaClient() 

# Requests made outside this block wont run.
with client.connect():
    out = client.get_hist_option(
        req=OptionReqType.EOD,
        root="AAPL",
        exp=date(2022, 12, 16),
        strike=145,
        right=OptionRight.CALL,
        date_range=DateRange(date(2022, 11, 9), date(2022, 12, 9)),
    )    
# We are out of the client.connect() block, so we can no longer make requests.  
display(out)

You are using the free version of Theta Data. You are currently limited to 20 requests / minute. A data subscription can be purchased at https://thetadata.net. If you already have a Theta Data account, specify the username and passwd parameters.
Starting Theta Terminal [v0.6.4 REV: A]  -->  Config: C:\Users\Baile\ThetaData\ThetaTerminal
Attempting login as default  -->  CONNECTED: [nj-a.thetadata.us:12001], Bundle: FREE, Permissions: End of Day(EOD)
Shutting down...

,DataType.OPEN,DataType.HIGH,DataType.LOW,DataType.CLOSE,DataType.VOLUME,DataType.COUNT,DataType.DATE
0,3.73,3.75,2.57,2.65,9084,679,2022-11-09
1,4.10,7.37,4.10,7.30,9698,1366,2022-11-10
2,6.53,9.38,6.00,9.05,5266,855,2022-11-11
3,8.55,9.26,7.56,7.80,1074,349,2022-11-14
4,10.43,11.58,8.40,9.09,1385,365,2022-11-15
5,8.52,8.90,7.25,8.20,603,216,2022-11-16
6,6.75,9.80,6.69,9.30,3160,270,2022-11-17
7,10.37,10.37,8.69,9.13,833,197,2022-11-18
8,8.65,8.65,6.85,6.93,845,219,2022-11-21
9,6.95,8.20,6.14,8.13,5759,306,2022-11-22
10,7.94,9.15,7.46,8.56,674,161,2022-11-23
11,6.69,6.95,6.06,6.40,500,151,2022-11-25
12,4.63,5.49,3.73,4.15,12219,847,2022-11-28
13,3.92,4.30,2.38,2.70,16633,1543,2022-11-29
14,2.60,5.75,2.44,5.74,8484,1451,2022-11-30
15,6.01,6.50,5.10,6.03,1290,319,2022-12-01
16,4.55,5.42,4.26,5.30,1809,356,2022-12-02
17,5.25,7.52,4.13,4.60,1890,376,2022-12-05
18,4.75,4.85,2.43,2.83,6813,1551,2022-12-06
19,2.53,2.99,1.68,2.00,14352,2388,2022-12-07

# Make your first request (stock)

In [11]:
import pandas as pd
from IPython.display import display
from datetime import date, timedelta
from thetadata import ThetaClient, StockReqType, OptionRight, DateRange, NoData, ResponseError

# Connects to ThetaData.
client = ThetaClient() 

# Requests made outside this block wont run.
with client.connect():
    out = client.get_hist_stock(
        req=StockReqType.EOD,
        root="AMD",
        date_range=DateRange(date(2022, 11, 9), date(2022, 12, 9)),
    )    
# We are out of the client.connect() block, so we can no longer make requests.  
display(out)

You are using the free version of Theta Data. You are currently limited to 20 requests / minute. A data subscription can be purchased at https://thetadata.net. If you already have a Theta Data account, specify the username and passwd parameters.
Starting Theta Terminal [v0.6.4 REV: A]  -->  Config: C:\Users\Baile\ThetaData\ThetaTerminal
Attempting login as default  -->  CONNECTED: [nj-a.thetadata.us:12001], Bundle: FREE, Permissions: End of Day(EOD)

,DataType.OPEN,DataType.HIGH,DataType.LOW,DataType.CLOSE,DataType.VOLUME,DataType.COUNT,DataType.DATE
0,64.48,64.4800,58.3112,59.8600,66116452,368519,2022-11-09
1,60.48,81.7010,59.5400,68.9800,113541785,576465,2022-11-10
2,69.00,73.3600,68.2900,72.5200,114687565,612675,2022-11-11
3,72.80,75.6600,71.5400,73.9500,111907394,587891,2022-11-14
4,74.34,79.1600,59.8800,75.6800,111476523,605502,2022-11-15
5,76.84,77.2800,71.5200,73.7500,84691687,445596,2022-11-16
6,73.42,74.8000,70.1500,74.3100,84437576,432262,2022-11-17
7,74.50,75.9040,72.1800,73.6000,76133188,354136,2022-11-18
8,72.56,73.7530,71.5700,72.5100,53547325,283706,2022-11-21
9,72.12,80.1864,71.8700,75.6300,58300072,280904,2022-11-22
10,75.45,78.2200,73.1450,76.6400,83609739,413797,2022-11-23
11,77.08,77.1800,73.5300,75.0000,26953198,143373,2022-11-25
12,74.09,74.4899,58.6300,73.2500,53584154,263462,2022-11-29
13,73.49,78.2000,72.8100,78.0900,96761172,414575,2022-11-30
14,77.90,79.2300,76.3000,76.6000,62683621,347889,2022-12-01
15,76.55,78.3600,73.6100,74.9600,66184904,375481,2022-12-02
16,75.11,75.5000,72.8200,73.5701,49054261,277933,2022-12-05
17,73.99,74.0000,69.4000,70.2150,67507277,375985,2022-12-06
18,70.34,76.9200,69.0000,69.9500,61169082,321805,2022-12-07

## NBBO Option Quotes
We can request historical and intraday NBBO option quotes with a paid ThetaData subscription.

In [12]:
import pandas as pd
from IPython.display import display
from datetime import date, timedelta
from thetadata import ThetaClient, OptionReqType, OptionRight, DateRange, NoData, ResponseError

# Connects to ThetaData. Paid accounts must specify username / passwd
client = ThetaClient(username="testing2@thetadata.net", passwd=open("credentials.txt").readline().rstrip())
    
# Requests made outside this block wont run.
with client.connect():
    data = client.get_hist_option(
        req=OptionReqType.QUOTE,
        root="AAPL",
        exp=date(2022, 12, 16),
        strike=145,
        right=OptionRight.CALL,
        date_range=DateRange(date(2022, 12, 4), date(2022, 12, 9)),
    )
# We are out of the client.connect() block, so we can no longer make requests.   
display(data)

Starting Theta Terminal [v0.6.4 REV: A]  -->  Config: C:\Users\Baile\ThetaData\ThetaTerminal
Attempting login as testing2@thetadata.net  -->  CONNECTED: [nj-a.thetadata.us:12001], Bundle: STANDARD, Permissions: Real-Time

,DataType.MS_OF_DAY,DataType.BID_SIZE,DataType.BID_CONDITION,DataType.BID,DataType.BID_EXCHANGE,DataType.ASK_SIZE,DataType.ASK_CONDITION,DataType.ASK,DataType.ASK_EXCHANGE,DataType.DATE
0,28800451,0,65,0.00,50,0,65,0.00,50,2022-12-05
1,28800480,0,42,0.00,50,0,42,0.00,50,2022-12-05
2,28800506,0,60,0.00,50,0,60,0.00,50,2022-12-05
3,28800723,0,5,0.00,50,0,5,0.00,50,2022-12-05
4,30600125,0,5,0.00,50,0,5,0.00,50,2022-12-05
...,...,...,...,...,...,...,...,...,...,...
2593871,42140835,126,47,2.91,50,167,60,2.93,50,2022-12-09
2593872,42140842,126,47,2.91,50,167,60,2.93,50,2022-12-09
2593873,42140862,126,47,2.91,50,142,60,2.93,50,2022-12-09
2593874,42140879,126,47,2.91,50,140,47,2.93,50,2022-12-09
2593875,42140880,140,47,2.91,50,140,47,2.93,50,2022-12-09

Shutting down...

## That's a lot of data... let's request intervals instead of ticks
There were 2.5 million NBBO quotes for that option contract over the course of the week. Working with this amount of data can be tricky. We're going to specify an ``interval_size``, which provides us the NBBO quote every x milliseconds. We'll use a 15 minute interval size in this example.

In [6]:
import pandas as pd
from IPython.display import display
from datetime import date, timedelta
from thetadata import ThetaClient, OptionReqType, OptionRight, DateRange, NoData, ResponseError

# Connects to ThetaData. Paid accounts must specify username / passwd
client = ThetaClient(username="testing2@thetadata.net", passwd=open("credentials.txt").readline().rstrip())

# Requests made outside this block wont run.
with client.connect():
    data = client.get_hist_option(
        req=OptionReqType.QUOTE,
        root="AAPL",
        exp=date(2022, 12, 16),
        strike=145,
        right=OptionRight.CALL,
        date_range=DateRange(date(2022, 12, 4), date(2022, 12, 9)),
        interval_size=900000  # In milliseconds (15-min = 900000ms)
    )
# We are out of the client.connect() block, so we can no longer make requests.      
display(data)

Starting Theta Terminal [v0.6.4 REV: A]  -->  Config: C:\Users\Baile\ThetaData\ThetaTerminal
Attempting login as testing2@thetadata.net  -->  CONNECTED: [nj-a.thetadata.us:12001], Bundle: STANDARD, Permissions: Real-Time

,DataType.MS_OF_DAY,DataType.BID_SIZE,DataType.BID_CONDITION,DataType.BID,DataType.BID_EXCHANGE,DataType.ASK_SIZE,DataType.ASK_CONDITION,DataType.ASK,DataType.ASK_EXCHANGE,DataType.DATE
0,34200000,0,1,0.00,50,0,1,0.00,50,2022-12-05
1,35100000,149,46,6.90,50,544,9,7.05,50,2022-12-05
2,36000000,100,60,6.60,50,21,42,7.00,50,2022-12-05
3,36900000,1182,42,6.00,50,706,5,6.10,50,2022-12-05
4,37800000,562,42,5.75,50,129,47,5.80,50,2022-12-05
...,...,...,...,...,...,...,...,...,...,...
82,37800000,135,47,2.14,50,30,42,2.15,50,2022-12-09
83,38700000,133,47,2.41,50,40,46,2.42,50,2022-12-09
84,39600000,167,47,2.89,50,165,47,2.91,50,2022-12-09
85,40500000,157,47,2.66,50,119,47,2.68,50,2022-12-09
86,41400000,1282,5,3.00,50,205,46,3.05,50,2022-12-09

Shutting down...

## Get one month of trade data in under a second

In [7]:
import pandas as pd
import time
from IPython.display import display
from datetime import date, timedelta
from thetadata import ThetaClient, OptionReqType, OptionRight, DateRange, NoData, ResponseError, SecType

# Connects to ThetaData. Paid accounts must specify username / passwd
client = ThetaClient(username="testing2@thetadata.net", passwd=open("credentials.txt").readline().rstrip())

# Requests made outside this block won't run.
with client.connect():
    data = client.get_roots(sec=SecType.OPTION)  # Dummy request (first request always take longer than normal)
    start_time = time.time() 
    data = client.get_hist_option(
        req=OptionReqType.TRADE,
        root="AAPL",
        exp=date(2022, 12, 2),
        strike=160,
        right=OptionRight.CALL,
        date_range=DateRange(date(2022, 11, 1), date(2022, 12, 2)),
    )

    # Prints milliseconds elapsed / request latency.
    print('latency: ' + str(int(round(time.time() - start_time, 3) * 1000)) + 'ms')

Starting Theta Terminal [v0.6.4 REV: A]  -->  Config: C:\Users\Baile\ThetaData\ThetaTerminal
Attempting login as testing2@thetadata.net  -->  CONNECTED: [nj-a.thetadata.us:12001], Bundle: STANDARD, Permissions: Real-Time
latency: 141ms
Shutting down...